realestate.carlostrevisan.xyz {
    # Ensure Caddy can handle ACME challenges before reverse proxying
    handle_path /.well-known/acme-challenge/* {
        file_server
    }

    # Everything else to the frontend
    handle {
        reverse_proxy frontend:3000
    }
}
